.body_background {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  #h1{
      color: rgb(144, 0, 255); 
      font-size: 40px;
      font-style: italic;
      font-family: cursive;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: rgb(247, 203, 240); 
      border-style:ridge;
  }

  button {
    background-color: #634caf;
    border: none;
    color: rgb(190, 163, 254);
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  